.top-image{
    padding: 40px ;
    background-image: url("https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    opacity: 0.7;
    height: 400px;
    width: 100%;
 }

 .top-image input[type="text"]{
    margin-left: 35%;
    border: 3px solid black;
    margin-top: 5%;
    width: 25%; 
    height: 10%;    
 }







 