{% extends '../base.html' %}

{% block title  %}
    home  
{% endblock title  %}

{% load static %}

{% block style  %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock style  %}

{% block content %}
		   <div class="top-image">
			  <br><br>
			  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
			   <form action="/search" method="GET">
                {% csrf_token %}
				<div class="input-group">
				  <div class="input-group-prepend">
					<button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
				  </div>
				  <input name="search" type="search" placeholder="Search by Name , Cities or  State .." aria-describedby="button-addon2" class="form-control border-0 bg-light" >
					<button  type="submit" class="btn btn-warning">Search</button>
				</div>
				 </form>
			  </div>
		   </div><br><br>

		   <div> <h3 style="margin-left: 2.5%;"> TRENDING RESTAURANTS </h3></div>		   
		    <div>  	
				<div class="py-5 ml-5"> 
				 <div class="row">
					<a href="/detail" style="color: inherit; text-decoration: none;">
						<div class="col-lg-4 col-md-6">
						   <div class="col mb-4">
						   <div class="card shadow-lg" style="width: 20rem;">
						<img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" class="card-img-top" alt="restaurant_img">
						<div class="card-body">
						  <h5 class="card-title">Restaurant Name</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						</a>
					  </div>
					</div>
					</div>
					<a href="/detail" style="color: inherit; text-decoration: none;">
						<div class="col-lg-4 col-md-6">
						   <div class="col mb-4">
						   <div class="card shadow-lg" style="width: 20rem;">
						<img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" class="card-img-top" alt="restaurant_img">
						<div class="card-body">
						  <h5 class="card-title">Restaurant Name</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						</a>
					  </div>
					</div>
					</div>
					<a href="/detail" style="color: inherit; text-decoration: none;">
						<div class="col-lg-4 col-md-6">
						   <div class="col mb-4">
						   <div class="card shadow-lg" style="width: 20rem;">
						<img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" class="card-img-top" alt="restaurant_img">
						<div class="card-body">
						  <h5 class="card-title">Restaurant Name</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						</a>
					  </div>
					</div>
					</div>
				 </div>
				</div> 
		    </div>
			 
			<div class="image">
				<div class="image-content">
					<div style=" display: inline-block; margin-top: 40px;"><h1> Own a restaurant? Join us </h1></div>
					<div style=" margin-top: 9%; height:20%">
						<h5><p> Looking to fill those empty seats, especially during those times when you're not as busy?
						 BookMytable is a restaurant reservation platform which offers time-based  discounts up to  50% off, 
						 every day at all of its 4000+ restaurants.
				    	</p></h5>
					</div>
					<a href="/restaurants">
						<button type="button" class="btn btn-light Box">JOIN US</button>
					</a>
				</div>
			</div>
{% endblock content %}