{% extends '../base.html' %}

{% block title  %}
    home  
{% endblock title  %}

{% load static %}

{% block style  %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock style  %}

{% block content %}
<html>
	<head>
	</head>
	<body>
		{% comment %} <div class="top-div">
		</div>
		<div class="main-div">
		 <div class="buttons-ka-div">
		 <a href="/login_guest">
           <button type="button" class="btn btn-info b1">GUEST LOGIN</button>
		   </a>
		   <a href="/login_manager">
           <button type="button" class="btn btn-dark b2">MANAGER LOGIN</button>
		   </a>
         </div>
        </div> {% endcomment %}
		   <div class="top-image">
			   <!-- <div>
				 <input type="text" placeholder="Search Restaurant ....">
				 <input type="submit" placeholder="submit" class="search">
			   </div> -->
			   <!-- <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
				<div class="input-group">
				  <input type="search" placeholder="Search..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
				  <div class="input-group-append">
					<button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
				  </div>
				</div>
			  </div> -->
			  <br><br>
			  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
				<div class="input-group">
				  <div class="input-group-prepend">
					<button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
				  </div>
				  <input type="search" placeholder="Search..." aria-describedby="button-addon2" class="form-control border-0 bg-light" >
				</div>
			  </div>
		   </div><br><br>

		   <div> <h3 style="margin-left: 2.5%;"> TRENDING RESTAURANTS </h3></div>		   
		    <div>  	
				<div class="py-5 ml-5"> 
				 <div class="row">
					<a href="/detail" style="color: inherit; text-decoration: none;">
						<div class="col-lg-4 col-md-6">
						   <div class="col mb-4">
						   <div class="card shadow-lg" style="width: 20rem;">
						<img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" class="card-img-top" alt="restaurant_img">
						<div class="card-body">
						  <h5 class="card-title">Restaurant Name</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						</a>
					  </div>
					</div>
					</div>
					<a href="/detail" style="color: inherit; text-decoration: none;">
						<div class="col-lg-4 col-md-6">
						   <div class="col mb-4">
						   <div class="card shadow-lg" style="width: 20rem;">
						<img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" class="card-img-top" alt="restaurant_img">
						<div class="card-body">
						  <h5 class="card-title">Restaurant Name</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						</a>
					  </div>
					</div>
					</div>
					<a href="/detail" style="color: inherit; text-decoration: none;">
						<div class="col-lg-4 col-md-6">
						   <div class="col mb-4">
						   <div class="card shadow-lg" style="width: 20rem;">
						<img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" class="card-img-top" alt="restaurant_img">
						<div class="card-body">
						  <h5 class="card-title">Restaurant Name</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						</a>
					  </div>
					</div>
					</div>
				 </div>
				</div> 
		    </div>
			 
			<div class="image">
				<div class="image-content">
					<div style=" display: inline-block; margin-top: 40px;"><h1> Own a restaurant? Join us </h1></div>
					<div style=" margin-top: 9%; height:20%">
						<h5><p> Looking to fill those empty seats, especially during those times when you're not as busy?
						 BookMytable is a restaurant reservation platform which offers time-based  discounts up to  50% off, 
						 every day at all of its 4000+ restaurants.
				    	</p></h5>
					</div>
					<a href="#" target="_blank">
						<button type="button" class="btn btn-light Box">JOIN US</button>
					</a>
				</div>
			</div>

	</body>
</html>
{% endblock content %}