.b1{
    margin: 40px;
    display: inline-block;
    height: 65px; 
    width: 150px;
    text-align: center;
}

.b2{
	margin: 40px;
	display: inline-block;
	height: 65px; 
	width: 150px;
	text-align: center;
}

.top-div{
	background-color: blue;
	height : 200px;
}
.main-div{
	background-color: red;
	height: 400px;
}

.buttons-ka-div{
	position: absolute;
	margin-top: 100px;
	margin-left: 700px;
}