{% extends '../base.html' %}

{% block title  %}
    home  
{% endblock title  %}

{% load static %}

{% block style  %}
    <link rel="stylesheet" href="">
{% endblock style  %}

{% block content %}
<div class="container" style="margin-top:100px">
     {% for reservation in reservations %}
     <div class="row justify-content-center align-items-center" >
        <div class="card shadow-lg mt-2" style="width: 900px;">

          <div class="card-body">
            <div class="time d-flex flex-row align-items-center justify-content-between mt-1">
             <h3 class="card-title">by : {{ reservation.guest }}</h3>
             <h5 class="card-subtitle">email : {{ reservation.guest.user.email  }}</h5>
              <div class="d-flex align-items-center"> </div>
              <div> <button type="button" class="btn btn-info">  at : {{ reservation.date }} | {{ reservation.time }}</button> </div>
            </div>
             <p >
              booked at : {{ reservation.booked_date }}
            </p>
             <p >
              for  {{ reservation.no_of_people }}  people 
            </p>
            <div class="time d-flex flex-row align-items-center justify-content-between mt-1">
             <p >
              status :
              {% if  reservation.status %}
               <a class="badge badge-success">Confirmed</a>
              {% else %}
              <a  class="badge badge-warning">Pending</a> 
              {% endif %}
            </p>
              <div class="d-flex align-items-center"> </div>
              <div> 
              {% if reservation.is_active %}
              {% if  reservation.status %}
              <form action="/reservation_reject/{{ reservation.id }}" method="post">
               {% csrf_token %}
              <button type="submit" class="btn btn-danger">Reject</button> 
              </form>
              {% else %}
              <form action="/reservation_accept/{{ reservation.id }}" method="post">
               {% csrf_token %}
              <button type="submit" class="btn btn-success">Accept</button> 
              </form>
              {% endif %}
              {% endif %}
              </div>
            </div>
            
          </div>
        </div>
      </div>
     {% endfor %}
     </div>
{% endblock content %}