{% extends '../base.html' %}

{% block title  %}
    home  
{% endblock title  %}

{% block content %}
  <div class="py-5 ml-5">
    {% comment %} {% for  obj in   res  %}
        <div> obj.name</div>
    {% endfor %} {% endcomment %}
     <div class="row">
      {% for i in '0123456789'|make_list %}
      <a href="/detail" style="color: inherit; text-decoration: none;">
      <div class="col-lg-4 col-md-6">
         <div class="col mb-4">
         <div class="card shadow-lg" style="width: 20rem;">
      <img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" class="card-img-top" alt="restaurant_img">
      <div class="card-body">
        <h5 class="card-title">Reataurant Name</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      </a>
    </div>
  </div>
  </div>
      {% endfor %}
  </div>
  </div>
{% endblock content %}