{% extends '../base.html' %}
{% load static %} 
{% block title  %}
    All Restaurants 
{% endblock title  %}
{% block style %}
  <style> 
   .card{ 
            overflow: hidden; 
            margin: 0 auto; 
        } 
      
         .card-img-top { 
            width: 100%; 
            transition: 0.5s all ease-in-out; 
        } 
        .card-img-top:hover { 
            transform: scale(1.2); 
        } 
    </style>
{% endblock style %}

{% block content %}
  <div class="py-5 container">
    <div class="bg-light rounded rounded-pill shadow-sm mb-4">
       <form action="/search" method="GET">
            {% csrf_token %}
			  	<div class="input-group">
				  <div class="input-group-prepend">
					<button type="button" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
				  </div>
				  <input name="search" style="margin-top:7px" type="search" placeholder="Search by Name , Cities or  State .." aria-describedby="button-addon2" class="form-control border-0 bg-light" >
					<button  type="submit" style="margin-right:15px;" class="btn btn-warning my-2">Search</button>
				</div>
        </form>
			  </div>
      <div>
      {% if search %}
      <h5 class="mb-4">Search Result ...</h5></div>
     <div class="row">
      
      <div>
      {% for res in search %}
      <a href="/restaurants/{{ res.id }}" style="color: inherit; text-decoration: none;">
      <div class="col-lg-4 col-md-6">
         <div class="col mb-4">
         <div class="card shadow-lg" style="width: 20rem;">
      <img src="{{ res.profile_img.url }}" class="card-img-top" alt="restaurant_img">
      <div class="card-body">
      <div class="time d-flex flex-row align-items-center justify-content-between mt-1">
              <h5 class="card-title">{{ res.name }}</h5>
              <div class="d-flex align-items-center"> </div>
              <div> <button type="button" class="btn btn-warning">{{ res.rating }}</button> </div>
            </div>
        <p class="card-text">{{ res.description }}</p>
      </div>
      </a>
      </div>
    </div>
    {% endfor %}
    {% endif  %}
     </div>
      <h5 class="mb-4">All Restaurants </h5>
     <div class="row">
      {% for res in restaurants %}
      <a href="/restaurants/{{ res.id }}" style="color: inherit; text-decoration: none;">
      <div class="col-lg-4 col-md-6">
         <div class="col mb-4">
         <div class="card shadow-lg" style="width: 20rem;">
      <img src="{{ res.profile_img.url }}" class="card-img-top" alt="restaurant_img">
      <div class="card-body">
      <div class="time d-flex flex-row align-items-center justify-content-between mt-1">
              <h5 class="card-title">{{ res.name }}</h5>
              <div class="d-flex align-items-center"> </div>
              <div> <button type="button" class="btn btn-warning">{{ res.rating }}</button> </div>
            </div>
        <p class="card-text">{{ res.description }}</p>
      </div>
      </a>
    </div>

  </div>

  </div>
   {% endfor %}
     
  </div>
  </div>
{% endblock content %}