<html>
<head>
	<link rel="stylesheet" type="text/css" href="./Description.css">
</head>
<body style="margin: 20px">
    <div class="card"> 
      <img src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" alt="YO" height="50%" width="100%">
      <h1 style="text-align: center;"> NAME- POMINOS </h1>
      <h3 style="text-align: left;"> Location- Varanasi </h3>
      <h3 style="text-align: left;"> Timings - 9:00 am - 11:57 pm</h3>
      <a href="#"><h3 style="text-align: left;"> Description  </h3></a>
      <a href="#"><h3 style="text-align: left;"> Ratings  </h3></a>
      <a href="#"><h3 style="text-align: left;"> Menu  </h3></a>
    </div>
</body>
</html>